@CHARSET "UTF-8";
.tabs-hide {
display:none;
}
.tabs-nav {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0 0 0 4px;
}
.tabs-nav:after {
clear:both;
content:" ";
display:block;
}
.tabs-nav li {
float:left;
margin:0 0 0 1px;
min-width:84px;
}

.tabs-nav li.floatright {
float:right;
}

.tabs-nav a, .tabs-nav a span {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/tab.png) no-repeat scroll 0 0;
display:block;
padding:0 10px;
}
.tabs-nav a {
color:#557D0C;
padding-left:0;
font-weight:bold;
position:relative;
text-align:center;
text-decoration:none;
top:1px;
white-space:nowrap;
z-index:2;
}
.tabs-nav .tabs-selected a {
color:#000000;
}
.tabs-nav .tabs-selected a, .tabs-nav a:hover, .tabs-nav a:focus, .tabs-nav a:active {
background-position:100% -150px;
outline-color:-moz-use-text-color;
outline-style:none;
outline-width:0;
}
.tabs-nav a, .tabs-nav .tabs-disabled a:hover, .tabs-nav .tabs-disabled a:focus, .tabs-nav .tabs-disabled a:active {
background-position:100% -100px;
}
.tabs-nav a span {
height:18px;
min-height:18px;
min-width:64px;
padding-right:0;
padding-top:6px;
width:64px;
}
* > .tabs-nav a span {
height:auto;
width:auto;
}
.tabs-nav .tabs-selected a span {
padding-top:7px;
}
.tabs-nav .tabs-selected a span, .tabs-nav a:hover span, .tabs-nav a:focus span, .tabs-nav a:active span {
background-position:0 -50px;
}
.tabs-nav a span, .tabs-nav .tabs-disabled a:hover span, .tabs-nav .tabs-disabled a:focus span, .tabs-nav .tabs-disabled a:active span {
background-position:0 0;
}
.tabs-nav .tabs-selected a:link, .tabs-nav .tabs-selected a:visited, .tabs-nav .tabs-disabled a:link, .tabs-nav .tabs-disabled a:visited {
cursor:text;
}
.tabs-nav a:hover, .tabs-nav a:focus, .tabs-nav a:active {
cursor:pointer;
}
.tabs-nav .tabs-disabled {
opacity:0.4;
}
.tabs-container {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF none repeat scroll 0 0;
border:1px solid #97A5B0;
padding:1em 8px;
}
.tabs-loading em {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(loading.gif) no-repeat scroll 0 50%;
padding:0 0 0 20px;
}
