# system
@reboot /bin/echo "Subject: [moztw] reboot" | /usr/local/bin/esmtp piaip@csie.ntu.edu.tw

# AWSTATS
# min, hour, mday, month, wday, command
27     3     *     *      *	/home/moztw/awstats/logrotate.sh 2>&1 >/dev/null
27     4,16  *     *      *	/home/moztw/awstats/rebuild.sh 2>&1 >/home/moztw/log/cron.awstats

# Documents
@hourly /home/moztw/htdocs/genxmlnews.cgi /home/moztw/htdocs/xmlnews.rdf

# Backup
@weekly /home/moztw/conf/backup.sh >/dev/null
@daily  /home/moztw/conf/mirrorlist.sh >/dev/null
