/*
$Id: style.css,v 1.2 2004/06/11 09:20:10 tarique Exp $
*/

body {
        background-color: #FAFAFA;
        font-family: "Trebuchet MS", Verdana, Geneva, Arial, sans-serif;
        font-size : 12px;
        color: #000000;
        margin: 0px;
}

table {
        font-size : 12px;
}

h1{
        font-weight: normal;
        font-size: 28px;
        font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        text-decoration: none;
        padding-left : 20px;
        color: #FFFFFF;
        margin: 2px;
}

h2 {
        font-family: Arial, Helvetica, sans-serif;
        background-image : url(images/box_left_icon.gif);
        background-repeat : no-repeat;
        background-position : left;
        padding-left : 18px;
        font-size: 18px;
        margin: 0px;
}

h3 {
        font-weight: bold;
        font-family: "Trebuchet MS", Verdana, Geneva, Arial, sans-serif;
        font-size: 14px;
        padding-left : 20px;
        color: #646464;
        margin: 2px;
}

p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        margin: 2px 0px;
}

ul {
        margin-left: 5px;
        padding: 0px;
}

li {
        margin-left: 10px;
        margin-top: 4px;
        margin-bottom: 4px;
        padding: 0px;
        list-style-position: outside;
        list-style-type: disc;
}

.top_panel td {
        white-space: nowrap;
}

.top_menu_left_bttn a {
        background-image : url(images/left_menu_button.gif);
        background-repeat : no-repeat;
        background-position : left;
        padding-left : 12px;
        padding-right : 6px;
        position: relative;
        display: block;
        height : 35px;
        line-height : 35px;
        text-decoration: none;
        color: #000000;
        font-size: 14px;
}

.top_menu_left_bttn a:hover {
        background-image : url(images/left_menu_button_over.gif);
        background-position : left;
        background-repeat : no-repeat;
        text-decoration: none;
        color:         #000000;
}

.top_menu_right_bttn a {
        background-image : url(images/right_menu_button.gif);
        background-repeat : no-repeat;
        background-position : right;
        padding-right : 22px;
        padding-left : 6px;
        position: relative;
        display: block;
        height : 35px;
        line-height : 35px;
        text-decoration: none;
        color: #000000;
        font-size: 14px;
}

.top_menu_right_bttn a:hover {
        background-image : url(images/right_menu_button_over.gif);
        background-position : right;
        background-repeat : no-repeat;
        text-decoration: none;
        color:         #000000;
}

.top_menu_bttn a {
        background-image : url(images/menu_button.gif);
        background-position : left;
        padding-left : 6px;
        padding-right : 6px;
        position: relative;
        display: block;
        height : 35px;
        line-height : 35px;
        text-decoration: none;
        color: #000000;
        font-size: 14px;
}

.top_menu_bttn a:hover {
        background-image : url(images/menu_button_over.gif);
        text-decoration: none;
        color:         #000000;
}

.textinput {
        font-family: "Trebuchet MS", Verdana, Geneva, Arial, sans-serif;
        font-size: 100%;
        border: 1px solid #666666;
        padding-right: 3px;
        padding-left: 3px;
}

.listbox {
        font-family: "Trebuchet MS", Verdana, Geneva, Arial, sans-serif;
        font-size: 100%;
        border: 1px solid #666666;
        vertical-align : middle;
}

.button {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        border: 1px solid #666666;
        background-image : url(images/button_bg.gif);
        background-position : bottom;
}

.comment_button {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        border: 1px solid #666666;
        background-image : url(images/button_bg.gif);
        background-position : bottom;
        padding-left: 3px;
        padding-right: 3px;
}

.radio {
        font-family: "Trebuchet MS", Verdana, Geneva, Arial, sans-serif;
        font-size: 100%;
        vertical-align : middle;
}

.checkbox {
        font-family: "Trebuchet MS", Verdana, Geneva, Arial, sans-serif;
        font-size: 100%;
        vertical-align : middle;
}

a {
        color: #FF6600;
        text-decoration: none;
}

a:hover {
        color: #FF6600;
        text-decoration: underline;
}

bblink a {
        color: #FF6600;
        text-decoration: none;
}

bblink a:hover {
        color: #FF6600;
        text-decoration: underline;
}

.maintable {
        background-color: #333333;
        margin-top: 2px;
        margin-bottom: 2px;
}

.tableh1 {
        font-family:  Verdana, Geneva, Arial, sans-serif;
        background : #BDBDBD ;
        color: #FFFFFF;
        padding-top: 3px;
        padding-right: 10px;
        padding-bottom: 3px;
        padding-left: 10px;
}

.tableh1_compact {
        font-family:  Verdana, Geneva, Arial, sans-serif;
        background : #BDBDBD ;
        color: #FFFFFF;
        padding-top: 2px;
        padding-right: 5px;
        padding-bottom: 2px;
        padding-left: 5px;
}

.tableh2 {
        font-family:  Verdana, Geneva, Arial, sans-serif;
        background: #E6E6E6 ;
        color : #000000;
        padding-top: 3px;
        padding-right: 10px;
        padding-bottom: 3px;
        padding-left: 10px;
}

.tableh2_compact {
        font-family:  Verdana, Geneva, Arial, sans-serif;
        background: #E6E6E6 ;
        color : #000000;
        padding-top: 2px;
        padding-right: 5px;
        padding-bottom: 2px;
        padding-left: 5px;
}

.tableb {
        background: #FFFFFF ;
        padding-top: 3px;
        padding-right: 10px;
        padding-bottom: 3px;
        padding-left: 10px;
}

.tableb_compact {
        background: #FFFFFF ;
        padding-top: 2px;
        padding-right: 5px;
        padding-bottom: 2px;
        padding-left: 5px;
}

.tablef {
        background: #E6E6E6 ;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
}

.album_stat {
        font-size : 85%;
        margin: 5px 0px;
}

.thumb_title {
        font-weight : bold;
        font-size: 80%;
        padding: 2px;
        display : block;
}

.thumb_caption {
        font-size: 80%;
        padding: 1px;
        display : block;
}

.thumb_caption a {
        text-decoration: underline;
        color: #000000;
}


.thumb_num_comments {
        font-weight: normal;
        font-size: 85%;
        padding: 2px;
        font-style : italic;
        display : block;
}

.user_thumb_infobox {
        margin-top: 1px;
        margin-bottom: 1px;
}

.user_thumb_infobox th {
        font-weight : bold;
        font-size: 100%;
        margin-top: 1px;
        margin-bottom: 1px;
        text-align : center;
}

.user_thumb_infobox td {
        font-size: 85%;
        margin-top: 1px;
        margin-bottom: 1px;
        text-align : center;
}

.user_thumb_infobox a {
        text-decoration: none;
        color: #000000;
}

.user_thumb_infobox a:hover {
        color: #000000;
        text-decoration: underline;
}

.sortorder_cell {
        background : #BDBDBD ;
        color: #FFFFFF;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 20px;
        margin: 0px;
}

.sortorder_options {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        background : #BDBDBD ;
        color: #FFFFFF;
        padding: 0px;
        margin: 0px;
        font-weight: normal;
        font-size: 80%;
        white-space: nowrap;
}

.navmenu {
        font-family: "Trebuchet MS", Verdana, Geneva, Arial, sans-serif;
        color: #FFFFFF;
        font-weight: bold;
        background : #BDBDBD ;
        border-style: none;
}

.navmenu img {
        margin-top: 1px;
        margin-right: 5px;
        margin-bottom: 1px;
        margin-left: 5px;
}

.navmenu a {
        position: relative;
        display: block;
        padding-top: 2px;
        padding-right: 5px;
        padding-bottom: 2px;
        padding-left: 5px;
        text-decoration: none;
        color: #FFFFFF;
}

.navmenu a:hover {
        background : #87CFED ;
        text-decoration: none;
        color:         #000000;
}

.admin_menu_thumb {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 90%;
        border: 1px solid #666666;
        background-image : url(images/button_bg.gif);
        background-position : bottom;
        color: #000000;
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 85px;
}

.admin_menu_thumb a {
        color: #000000;
        text-decoration: none;
        display: block;
        position: relative;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 10px;
        padding-right: 10px;
}


.admin_menu_thumb a:hover {
        color: #000000;
        text-decoration: underline;
}

.admin_menu {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 90%;
        border: 1px solid #666666;
        background-image : url(images/button_bg.gif);
        background-position : bottom;
        background-repeat: repeat-x;
        background-color: #FFFFFF;
        color: #000000;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
}

.admin_menu a {
        color: #000000;
        text-decoration: none;
        display: block;
        position: relative;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 2px;
        padding-right: 2px;
}

.admin_menu a:hover {
        color: #000000;
        text-decoration: underline;
}

.comment_date{
        color : #5F5F5F;
        font-size: 90%;
        vertical-align : middle;
}

.image {
        border-style: solid;
        border-width:1px;
        border-color: #000000;
        margin: 2px;
}

.imageborder {
        border: 1px solid #000000;
        background-color: #FFFFFF;
        margin-top: 30px;
        margin-bottom: 30px;
}

.thumbnails {
        background: #FFFFFF ;
        padding: 5px;
}

.footer {
        font-size : 9px;
        color: #666666;
}

.footer a {
        text-decoration: none;
        color: #666666;
}

.footer a:hover {
        color: #000000;
        text-decoration: underline;
}

.statlink {
        color: #FFFFFF;
}

.statlink a {
        text-decoration: none;
        color: #FFFFFF;
}

.statlink a:hover {
        color: #FFFFFF;
        text-decoration: underline;
}

.alblink a {
        text-decoration: underline;
        color: #000000;
}

.alblink a:hover {
        color: #000000;
        text-decoration: underline;
}

.catlink {
        font-family:  Verdana, Geneva, Arial, sans-serif;
        display: block;
        margin-bottom: 2px;
}

.catlink a {
        text-decoration: underline;
        color: #000000;
}

.catlink a:hover {
        color: #000000;
        text-decoration: underline;
}

.topmenu {
        font-family: "Trebuchet MS", Verdana, Geneva, Arial, sans-serif;
        line-height : 130%;
        font-size : 110%;
}

.topmenu a {
        color: #FF6600;
        text-decoration : underline;
}

.topmenu a:hover  {
        color : #000000;
        text-decoration : underline;
}

.img_caption_table {
        border: none;
        background-color: #FFFFFF;
        width : 100%;
        margin : 0px;
}

.img_caption_table th {
        background: #E6E6E6 ;
        font-size : 100%;
        color : #000000;
        padding-top: 4px;
        padding-right: 10px;
        padding-bottom: 4px;
        padding-left: 10px;
        border-top : 1px solid #000000;
}

.img_caption_table td {
        background: #FFFFFF ;
        padding-top: 6px;
        padding-right: 10px;
        padding-bottom: 6px;
        padding-left: 10px;
        border-top : 1px solid #000000;
}

.debug_text {
        border: #BDBEBD;
        background-color: #EFEFEF;
        width : 100%;
        margin : 0px;
}

.clickable_option {
        cursor : hand;
}

.listbox_lang {
        color: #000000;
        background-color: #FAFAFA;
        border: 1px solid #FAFAFA;
        font-size: 80%;
        font-family: "Trebuchet MS", Verdana, Geneva, Arial, sans-serif;
        vertical-align : middle;
}