/* mozilla.org Cavendish Template Styles
 * Initial Design by Daniel Burka and Steven Garrity
*/

/* Basic Structure */
	body {
		background: #fff url("http://moztw.org/images/body_back.gif") repeat-x;
	}
/* General Structure */
    body, td, th, input { /* redundant rules for bad browsers  */
            font-family: verdana, sans-serif;
            font-size: x-small;
            voice-family: "\"}\"";
            voice-family: inherit;
            font-size: small;
    }

/* Header */

	#header { margin-bottom: 1em; }
	#header h1 { border: 0; height:65px; }
	#header ul {
		margin: 0 0 1em 0;
		padding: 0;
	}
	
	#header li {
		display: inline;
		padding: 0 20px 0 0;
		margin: 0;
		white-space: nowrap;
	}

	#header {
		background: #455372 url("http://moztw.org/images/header_bl.png") bottom left repeat-x;
		position: relative;
		min-height: 39px;
		height: 3em; /* 5em; */
		padding: 15px 0px 15px 0px;
	} #ignored {}
	
	#header h1 {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		font-size: 2px;
		background: url("http://moztw.org/images/header_tl.gif") no-repeat;
		height: 8px;
		z-index: 100; /* above the UL */
	}
	#header h1 a {
		display: block;
		width: 354px;
		height: 65px;
		background: transparent url("http://moztw.org/images/header_logo2.png") no-repeat;
		text-indent: -700em;
		text-decoration: none;
	}
	#header ul {
		width: auto;
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 0;
		padding: 0 15px 0 0;
		list-style: none;
		background: url("http://moztw.org/images/header_br.gif") no-repeat bottom right;
		z-index: 90; /* below the H1 */
	}
	#header li {
		float: right;
		background: transparent url("http://moztw.org/images/header_tab.gif") 100% -600px no-repeat;
		padding: 0 6px 0 0;
		margin: 0 1px 0 0;
		border-bottom: 1px solid #515358;
	}
	#header ul a {
		float: left;
		display: block;
		padding: 4px 4px 4px 10px;
		background: transparent url("http://moztw.org/images/header_tab.gif") 0% -600px no-repeat;
		font-weight: bold;
		color: #fff;
		text-decoration: none;
	}
	#header ul li:hover a { background-position: 0% -400px; }
	#header ul li:hover { background-position: 100% -400px; }
	
	#header form #cjk {
	font-size: 90%;
	border:	1px solid #9097A2;
	background: #D9DBE1;
	padding: 2px;
	font-family: georgia,sans-serif;
}
	
	body.sectionAbout li#menu_aboutus a,
	body.sectionProducts li#menu_products a,
	body.sectionForum li#menu_forum a,
	body.sectionWiki li#menu_wiki a,
	body.sectionLinks li#menu_links a,
	body.sectionDocs li#menu_docs a {
		background-position: 0% -200px;
		color: #039;
	}
	
	body.sectionAbout li#menu_aboutus,
	body.sectionProducts li#menu_products,
	body.sectionForum li#menu_forum,
	body.sectionWiki li#menu_wiki,
	body.sectionLinks li#menu_links,
	body.sectionDocs li#menu_docs {
		background-position: 100% -200px;
		border-bottom: 1px solid #fff;
	}
	
	body.sectionAbout li#menu_aboutus:hover,
	body.sectionProducts li#menu_products:hover,
	body.sectionForum li#menu_forum:hover,
	body.sectionWiki li#menu_wiki:hover,
	body.sectionLinks li#menu_links:hover,
	body.sectionDocs li#menu_docs:hover {
		background-position: 100% 0%;
	}
	
	body.sectionAbout li#menu_aboutus:hover a,
	body.sectionProducts li#menu_products:hover a,
	body.sectionForum li#menu_forum:hover a,
	body.sectionWiki li#menu_wiki:hover a,
	body.sectionLinks li#menu_links:hover a,
	body.sectionDocs li#menu_docs:hover a {
		background-position: 0% 0%;
		color: #333;
	}
	
/* Search Field */

	#header form {
		position: absolute;
		top: 0;
		right: 0;
		padding: 12px 20px 0 0;
		background: url("http://moztw.org/images/header_tr.gif") no-repeat top right;
		margin: 0; /* need for IE Mac */
		text-align: right; /* need for IE Mac */
		white-space: nowrap; /* for Opera */
	}
	#header form label { color: #fff; font-size: 85%; }
	#header form input { font-size: 85%; }
	
	#header form #submit {
		font-size: 85%;
		background: #6A7389;
		color: #fff;
		padding: 1px 4px;
		border-right: 1px solid #283043;
		border-bottom: 1px solid #283043;
		border-top: 1px solid #9097A2;
		border-left: 1px solid #9097A2;
	}
	
	#header form #q, #header form #key, #header form #search_keywords {
		width: 140px;
		font-size: 85%;
		border:	1px solid #9097A2;
		background: #D9DBE1;
		padding: 2px;
	}
	#header form #q:hover, #header form #q:focus,
	#header form #key:hover, #header form #key:focus,
	#header form #search_keywords:hover, #header form #search_keywords:focus {
		background: #fff;
	}


/* Footer */

	#footer {
		border-top: 1px solid #999;
		margin: 2em 0;
		padding: 1em 0;
		text-align: center;
	}
	
	#footer ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	#footer li {
		display: inline;
	}
	
	#footer span,#footer a {
		white-space: nowrap;
		padding: 0 1em;
	}
	
	#footer p span,#footer p a {
		white-space: nowrap;
		padding: 0 0.3em;
	}
	
	#footer span a {
		padding: 0;
	}
	
	#footer p,#footer p a {
		color: #666;
	}
	
	#footer p a:hover {
		color: #000;
	}